<p>displayall works!</p>




<button class="btn btn-success" type="button"  (click)="getAllEmployees()" >Display All Employeess</button>


<table class="table table-dark col-sm-5">

   <tr><th>EID</th><th>ENAME</th><th>SALARY</th></tr> 
<tr *ngFor="let emp of empList;"> <td>{{emp.id}}</td><td>{{emp.ename}}</td><td>{{emp.salary}}</td>
   <td><button class="btn btn-danger"  type="button"  (click)="deleteById(emp.id)" >Delete</button></td> 

   <td><button class="btn btn-primary"  type="button"  (click)="openUpdate(emp.id)" >Update</button></td>

</tr>

</table>
